#page-header{
	background-color: #ffffff;
	background-image: url(../images/asset.png);
    background-repeat: no-repeat;
    background-position: 0 0;
	
	height:50px;
	width:100%;
}

#lnk-open-stream{
	position:absolute;
	right:6px;
	top:7px;
	display:block;
	font-size:12px;
}

#lnk-open-map{
	position:absolute;
	top:7px;
	font-size:12px;
	left:162px;
}

.button{
	text-decoration:none;
	border-style:solid;
	border-width:1px;
	border-color:#008888;
	border-radius:5px;
	padding:5px;
	color:#008888;
	text-align:center;
}

.dropdown-button{
	background-image: url(../images/asset.png);
    background-repeat: no-repeat;
    background-position: 39px -115px;
	text-decoration:none;
	border-style:solid;
	border-width:1px;
	border-color:#008888;
	border-radius:5px;
	padding:5px 20px 5px 5px;
	color:#008888;
	font-size:11px;
}

#lnk-change-radius{
	width:38px;
}

#lnk-change-comparables{
    background-position: 69px -115px;
	width:71px;
}

#lnk-change-status{
    background-position: 56px -115px;
	width:56px;
}

.open-eye-button{
	background-image: url(../images/asset.png);
    background-repeat: no-repeat;
    background-position: 0 -69px;
	text-decoration:none;
	border-style:solid;
	border-width:1px;
	border-color:#008888;
	border-radius:5px;
	padding:5px 5px 5px 40px;
	color:#008888;
}

.open-map-button{
	background-image: url(../images/asset.png);
    background-repeat: no-repeat;
    background-position: -183px -112px;
	text-decoration:none;
	border-style:solid;
	border-width:1px;
	border-color:#008888;
	border-radius:5px;
	padding:5px 5px 5px 30px;
	color:#008888;
}

#dv-map{
	background-image: url(../images/page-0.jpg);
    background-repeat: no-repeat;
    background-position: 0 -49px;
	background-size: 324px 1300px;
	width:100%;
	height:360px;
}

#dv-map-2{
	background-image: url(../images/page-2.jpg);
    background-repeat: no-repeat;
    background-position: 0 -49px;
	background-size: 324px 1300px;
	width:100%;
	height:360px;
}

#dv-search{
	padding: 5px 10px 5px 10px;
}

#dv-search input{
	margin-right:10px;
	width:220px;
	font-size:10px;
}

.blur-border{
	border-radius:5px;
	box-shadow: 2px 2px 5px #888888;
}

.reversed-button{
	text-decoration:none;
	border-style:solid;
	border-width:1px;
	border-color:#008888;
	border-radius:5px;
	padding:5px;
	color:#FFFFFF;
	background-color:#008888;
	font-size:13px;
	font-weight:bold;
}

.property-item{
	background-image: url(../images/page-0.jpg);
    background-repeat: no-repeat;
    background-position: 0 -545px;
	background-size: 324px 1300px;
	width:100%;
	height:100px;
}

#dv-porp01{
}

#dv-porp02{
}

#dv-porp03{
    background-position: 0 -645px;
}

#dv-porp04{
    background-position: 0 -745px;
}

#dv-porp05{
    background-position: 0 -845px;
}

.property-item-selected{
	background-image: url(../images/page-0.jpg);
    background-repeat: no-repeat;
    background-position: 0 -445px;
	background-size: 324px 1300px;
	width:100%;
	height:100px;
}

.clickable{
	cursor:pointer;
}

#property-summery{
	background-image: url(../images/page-1.jpg);
    background-repeat: no-repeat;
    background-position: 0 -76px;
	background-size: 324px 1300px;
	width:100%;
	height:360px;
}

.button-panel{
	position:absolute;
	background-color:#ffffff;
	top:330px;
	left:220px;
	width:100px;
	height:100px;
}

.button-panel a{
	display:block;
	font-size:13px;
	margin:5px 0 0 0;
}

.report-button{
	text-decoration:none;
	border-style:solid;
	border-width:2px;
	border-color:#888888;
	border-radius:5px;
	padding:5px;
	color:#008888;
	margin:10px;
}

.report-button .open-sign{
	float:right;
}

.dv-report img{
	display:block;
}

#dv-property-report .report-content{
	width:100%;
}

#dv-community-report .report-content{
	width:100%;
	display:none;
}

#dv-school-report .report-content{
	width:100%;
	display:none;
}

#dv-filters{
	margin:10px;
}

#dv-filters span{
	color:#008888;
	font-weight:bold;
}

.dropdown-button-ctrl{
	display:inline-block;
}

.dropdown-values{
	position:absolute;
	display:none;
	background-color:white;
	border-style:solid;
	border-width:1px;
	border-color:#008888;
}

.dropdown-values ul{
	list-style-type: none;
	margin:5px;
	padding:0;
}

.dropdown-values li{
	padding-left: 5px;
	color:#008888;
	font-size: 12px;
	cursor:pointer;
}

.info-image-title{
	margin:15px 5px 5px 5px;
}

.info-image{
	padding:5px;
}

.stream-item{
	background-image: url(../images/page-3.jpg);
    background-repeat: no-repeat;
    background-position: 0 -52px;
	background-size: 324px 1300px;
	width:100%;
	height:130px;
}

#dv-stream01{
}

#dv-stream02{
    background-position: 0 -182px;
}

#dv-stream03{
    background-position: 0 -312px;
}

#dv-stream04{
    background-position: 0 -442px;
}

a.watch-stream, a.open-detail, a.remove-stream, a.update-stream{
	font-size:12px;
	position:relative;
	display:block;
	background-color:white;
	padding-top:9px;
	padding-bottom:8px;
	left:228px;
}

.watch-stream{
	top:16px;
	width:35px;
    background-position: 0 -66px;
}

.open-detail{
	width:70px;
	top:12px;
}

.stream-item .watch-stream{
	top:4px;
	width:35px;
    background-position: 0 -69px;
}

.stream-item .watch-stream, .stream-item .remove-stream, .stream-item .update-stream{
	padding-top:5px;
	padding-bottom:5px;
}

.remove-stream{
	width:70px;
	top:9px;
}

.update-stream{
	width:70px;
	top:14px;
	color:red;
}
